<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nano IoT: {{ hostname|title }}</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    button {
        margin-top: 1rem;
    }
    .btn-custom {
        width: 70%;
    }
    .bg-primary{
        font-size: larger;
        background-color: #0E3385!important;
    }
    .row{
        margin: auto;
    }
</style>

<body>











<div id="accordion">
    <div class="bg-box">

        <div class="row justify-content-center">
            {% for functionality in functionalities %}
                <button class="btn btn-primary col-6" data-toggle="collapse" data-target="#co{{functionality}}" aria-expanded="true" aria-controls="co{{functionality}}">
                    {% if functionality == 'custom_cmd' %}
                        Terminal Controller
                    {%elif functionality == 'change_resolution' %}
                        Resolution Changer
                    {%elif functionality == 'show_video' %}
                        Show video in NanoIoT
                    {%elif functionality == 'show_dashboard' %}
                        Display Link in NanoIoT
                    {%else%}
                    {{functionality|title}}
                    {% endif%}
                </button>

                <div  id="co{{functionality}}"  class="collapse"  aria-labelledby="heading{{ functionality }}"  data-parent="#accordion" >
                        <div class="container-fluid col-6">
                            <form id="{{ functionality }}" {% if functionality == 'show_video' %} action="{% url 'show_video' hostname  %}" enctype="multipart/form-data" {% endif %} class="row align-items-center justify-content-center" style="" method="post">
                                <h2> {{ functionality.title }} :</h2>

                                {% if functionality == "show_dashboard" %}
                                    <div class="input-group col-10">
                                        <input id="dashboard-link" type="text" class="form-control" aria-describedby="inputGroup-sizing-default">
                                    </div>

                                {% elif functionality == "upgrade" %}
                                    <div class="input-group col-10">
                                        <textarea rows= 10 id="upgrade-code" type="text" class="form-control" aria-describedby="inputGroup-sizing-default">#code here</textarea>
                                    </div>

                                {% elif functionality == "show_video" %}
                                    <div class="input-group col-10">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Video</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="video_to_show" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>

                                {% elif functionality == "change_resolution" %}
                                    <div class="input-group ">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Resolution</label>
                                        </div>
                                        <select class="custom-select" id="change-resolution">
                                            {% for resolution in resolutions %}
                                                <option value="{{ resolution }}"> {{ resolution }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                {% endif %}
                                <button {% if functionality == 'change_resolution' %} id="changeResolutionButton" {% endif %}type="submit" class="btn btn-custom btn-primary">{% if functionality == 'show_video' %} Upload Video {% else %}{{ functionality|title }}{% endif %}</button>
                            </form >
                            {% if functionality == 'show_video' %}
                                <form id="send_show_video">
                                    <button type="submit" class="btn btn-success ">Show Video in NanoIoT : {{ hostname }}</button>
                                </form>
                            {% endif %}
                        </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>








<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

function post_data(url,data,suc_msg){
    $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (data) {
                    console.log(suc_msg)
                }
            });
}
    var select = document.getElementById("change-resolution");
    var resolution = ''
    document.getElementById("changeResolutionButton").addEventListener("click", function(event) {
        resolution = select.options[select.selectedIndex].value;
    });

    {% for functionality in functionalities %}
        {% if functionality == 'show_dashboard' %}
            $(document).on("submit","#{{functionality}}",function(e){
                e.preventDefault();
                post_data('/api/nano/{{ hostname }}',{'what': 'show_dashboard' },'show_dashboard')
                post_data(
                    '/api/nano/{{ hostname }}/{{functionality}}',
                    {'what': 'show_dashboard',
                    'dashboard_link': $('#dashboard-link').val()},
                    'show_dashboard data : ' + $('#dashboard-link').val()
                )
            });

          {% elif functionality == 'upgrade' %}
            $(document).on("submit","#{{functionality}}",function(e){
                e.preventDefault();
                post_data('/api/nano/{{ hostname }}',{'what': 'upgrade' },'upgrade')
                post_data(
                    '/api/nano/{{ hostname }}/{{functionality}}',
                    {'what': 'upgrade',
                     'code': $('#upgrade-code').val()},
                     'code sent'
                )
            });
        {% elif functionality == 'change_resolution' %}
            $(document).on("submit","#{{functionality}}",function(e){
                e.preventDefault();
                post_data('/api/nano/{{ hostname }}',{'what': 'change_resolution' },'change_resolution')
                post_data(
                    '/api/nano/{{ hostname }}/{{functionality}}',
                    {'what': 'change_resolution',
                    'resolution': resolution},
                    resolution
                )
            });
        {% elif functionality == 'show_video' %}
            console.log('show_video')
        {% elif functionality == 'custom_cmd' or functionality == 'reboot' or functionality == 'screenshot'%}
            $(document).on("submit","#{{functionality}}",function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}',
                        data: {'what': '{{functionality}}'},
                        success: function (data) {
                            {% if functionality == 'custom_cmd'%}
                                location.href = "{% url 'terminal' hostname %}";
                            {% endif %}
                            console.log('other else')
                            }
                        });
                    {% if functionality == 'screenshot' %}
                        window.open("{% url 'screenshot' hostname %}","bfs","fullscreen");
                    {% endif %}
            });
        {% endif %}
    {% endfor %}

    // refreshing because while using terminal and using navigator's back, terminal stays getting
    // every 20s, get /nano/<hostname> that empties nano.what and nano.custom_cmd
    function refresh() {
        $.ajax({
                    type: 'GET',
                    url: '{{ hostname }}',
                    success: function (data) {
                    }
                });
    }
    refresh()
    setInterval(refresh,20000);
    $(document).on("submit","#send_show_video",function(e){
                e.preventDefault();
                post_data('/api/nano/{{ hostname }}',{'what': 'show_video' },'show_video')
            });



</script>


</body>
</html>