<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nano IoT: {{ hostname|title }}</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
    button {
    margin-top: 1rem;
    }
    .btn-custom {
    width: 40%;
    }
</style>
<body>




<!--navbar-->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <a class="navbar-brand" href="#">
            <img src="{% static 'logo_carre.png' %}" width="70" height="70" alt="Photo_logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">All NanoIoTs</a>
                </li>
                {% for where in where_dict.items %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ where.0.title }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for nano in where.1 %}
                            <a class="dropdown-item" href="/nano/{{ nano }}">{{ nano.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
<style>
    .bg-primary{
        font-size: larger;
        background-color: #0E3385!important;
    }
</style>
<!-- end navbar-->




















{% for functionality in functionalities %}
    <div class="container-fluid">
        <form id="{{ functionality }}" {% if functionality == 'show_video' %} action="{% url 'show_video' hostname  %}" method="POST" enctype="multipart/form-data" {% endif %} class="row align-items-center justify-content-center" style="margin: 1%" method="post">
            <h2> {{ functionality.title }} :</h2>
            {% if functionality == "show_dashboard" %}
                <div class="input-group col-4">
                    <input id="dashboard-link" type="text" class="form-control" aria-describedby="inputGroup-sizing-default">
                </div>
            {% elif functionality == "upgrade" %}
                <div class="input-group col-8">
                    <textarea rows= 10 id="upgrade-code" type="text" class="form-control" aria-describedby="inputGroup-sizing-default">#code here</textarea>
                </div>
            {% elif functionality == "show_video" %}
                <div class="input-group col-6">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Video</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" name="video_to_show" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                </div>
            {% elif functionality == "change_resolution" %}

                <div class="input-group mt-1 w-25">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Resolution</label>
                  </div>
                  <select class="custom-select" id="change-resolution">
                    {% for resolution in resolutions %}
                      <option value="{{ resolution }}"> {{ resolution }} </option>
                    {% endfor %}
                  </select>
                </div>

            {% endif %}
            <button {% if functionality == 'change_resolution' %} id="changeResolutionButton" {% endif %}type="submit" class="btn btn-custom btn-primary ml-3">{{ functionality|title }}</button>
        </form >
    </div>

{% endfor %}










{% include 'footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    var select = document.getElementById("change-resolution");
    var resolution = ''
    document.getElementById("changeResolutionButton").addEventListener("click", function(event) {
        resolution = select.options[select.selectedIndex].value;
    });

    {% for functionality in functionalities %}
        {% if functionality == 'show_dashboard' %}
            $(document).on("submit","#{{functionality}}",function(e){
                e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}',
                        data: {'what': 'show_dashboard' },
                        success: function (data) {
                            console.log('what sent')
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}/{{functionality}}',
                        data: {'what': 'show_dashboard',
                               'dashboard_link': $('#dashboard-link').val()},
                        success: function (data) {
                            console.log('what sent')
                        }
                    });
            });

          {% elif functionality == 'upgrade' %}
            $(document).on("submit","#{{functionality}}",function(e){
                e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}',
                        data: {'what': 'upgrade' },
                        success: function (data) {
                            console.log('what sent')
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}/{{functionality}}',
                        data: {'what': 'upgrade',
                               'code': $('#upgrade-code').val()},
                        success: function (data) {
                            console.log(data['code'])
                        }
                    });
            });


        {% elif functionality == 'change_resolution' %}
            $(document).on("submit","#{{functionality}}",function(e){
                e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}',
                        data: {'what': 'change_resolution' },
                        success: function (data) {
                            console.log('what sent')
                        }
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}/{{functionality}}',
                        data: {'what': 'change_resolution',
                               'resolution': resolution},
                        success: function (data) {
                            console.log(resolution)
                        }
                    });
            });
        {% elif functionality == 'show_video' %}

        {% else %}
            $(document).on("submit","#{{functionality}}",function(e){
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/api/nano/{{ hostname }}',
                        data: {'what': '{{functionality}}'},
                        success: function (data) {
                            {% if functionality == 'custom_cmd'%}
                                location.href = "/nano/{{ hostname }}/terminal";
                            {% endif %}
                            console.log('what sent')
                            }
                        });
                    {% if functionality == 'screenshot' %}
                        window.open("../nano/{{hostname}}/screenshot","bfs","fullscreen");
                    {% endif %}
            });
        {% endif %}
    {% endfor %}

    // refreshing because while using terminal and using navigator's back, terminal stays getting
    // every 20s, get /nano/<hostname> that empties nano.what and nano.custom_cmd
    function refresh() {
        $.ajax({
                    type: 'GET',
                    url: '{{ hostname }}',
                    success: function (data) {
                    }
                });
    }
    refresh()
    setInterval(refresh,20000);//



</script>


</body>
</html>