<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ hostname }} : Screenshot</title>
</head>
<body>

<img id="screenshot-image" src="" width="100%" height="100%" alt="Screenshot">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script>

    function getScreenshot(){
            $.ajax({
                type: 'GET',
                url: '/media/{{image.name}}',
                success: function(response) {
                    $('#screenshot-image').attr('src', '/media/{{ image }}?' + new Date().getTime());
                },
                error: function(response){
                    location.reload();
                }
            })
        }
    getScreenshot()
    setInterval(getScreenshot,3000);
</script>
</body>
</html>